/* app-specific styles go here */

body {
    font-family: "Hevletica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

h4{
    font-family: 'Times New Roman', Times, serif;
}

main{
    padding-top: 1em;
}
#yelpCard{
    height: 220px;
}
.container {
    margin: 0 auto;
}

.stars {
    color: #ffdf42;
}

.name {
    margin: 0 auto;
    font-weight: bold;
}

.reviewTitle {
    text-align: center;
}
    
#titleCard {
    padding-bottom: 0px;
}

#textCard {
    padding-top: 5px;
}

.mdl-card__title-text {  
    margin: 0 auto;
    padding-right: 15px;
}

.cardTitle {
    padding-bottom: 2em;
}

.card-title {
    flex: 1 1 auto;
    width: auto;
    padding: 0px;
}

.dishes h2{
    font-family: Boogaloo;
}

.card {
    font-family: Boogaloo;
}
.card p {
    font-size: 18px;
}
.item-title {
    font-family: Boogaloo;
    font-size: 28px;
}

.cardText {
    text-align: left;
}

/*Navbar*/
.col-xs-4{
    text-align: center;
}

.navbar{
    background-color:white; 
    font-family: 'Patua One';
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 0px;
}

li{
    margin-top: 25px;
}

li a{
    font-size: 30px;
    color: #F08828;
}


#logoDiv {
    padding: 0px;
}

@media (max-width: 435px ) {
    .item-title {
        margin: 0 auto;
    }
    .itemIMG {
        display: none;
    }
    #logo {
        width: 135px;
        display: block;
    }
    li a {
       font-size: 20px;
    }
    .navbar{
        padding-bottom: 0px;
    }
}
@media (min-width: 435px) {
    img {
        width: 175px;
    }
    .cardTitle {
        margin-left: 175px;
    }

    .cardText {
        margin-left: 175px;
    }
}

@media (min-width: 768px) {
   img {
       width: 200px; 
   }
   .cardTitle {
       margin-left: 220px;
   }
   .cardText {
       margin-left: 200px;
   }
}


#map {
    height: 400px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

#map p, #map h2 {
    text-align: center;
}

.about{
    text-align: center;

}



.row{
    margin-right:3em;
    margin-left:3em;
}

.navbar, header, footer {
    background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/15400523_10208410202953885_5444989706546350958_n.jpg?oh=025719e32919601a63bb6e26ec082811&oe=58FCF96B");
    color: #F08828;
}

header{
    border-bottom:1px solid gray;
}

/*footer*/
footer{
    font-family: 'Patua One';
    font-size: 12px;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top:1px solid gray;
}

footer .col-md-4{
    text-align: center;
}


footer .contacts a{
    color: F08828;
    margin-right: 7px;
    margin-left: 7px;
}

footer .contacts a:link{
    text-decoration: none;
}

footer .contacts a:hover{
    color: darkgrey;
}

.fa-facebook-official{
    color: mediumblue;
}

.fa-yelp{
    color: #C41200;
}

.fa-home{
    color: saddlebrown
}


/*home*/
.carousel-inner .item img, .carousel-inner .item a img{
    width: 70%;
    margin: auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

#myCarousel span{
    color: black;
}

/*about*/
.about p{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.about{
    margin-bottom: 2em;
    font-family: 'Droid Sans';

}

/**/
.messageBox .input-group{
    display:inline-block;
}

form{
    text-align: center;
}

.nameInput, .emailInput{
    height: 50px;
}

textarea{
    min-height:300px;
}

.form-control{
    height:100%;
}

.fa-paper-plane{
    margin-bottom: 200px;
}

#badLink {
    color: #F08828;
}