/* app-specific styles go here */

body {
    font-family: "Hevletica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    background-color: #F0F0F0;
}

nav ul {
    padding-left: 0;
    margin: 0;
}

nav li {
    list-style: none;
    display: inline-block;    
}

nav a {
    display: inline-block;    
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: transparent;
    text-decoration: none;
}

nav a:hover {
    border-bottom-color: #333;
}

nav a.active {
    border-bottom-color: #333;
}

.container {
    margin: 0 auto;
}

span {
    font-weight: bold;
}

.card-title {
    flex: 1 1 auto;
    width: auto;
    padding: 0px;
}

@media (max-width: 435px ) {
    .item-title {
        padding-left: 50px;
    }
    img {
        display: none;
    }
}
@media (min-width: 435px) {
    img {
        width: 175px;
    }
    .card-title {
        margin-left: 175px;
    }

    .card-text {
        margin-left: 175px;
    }
}

@media (min-width: 768px) {
   img {
       width: 200px; 
   }
   .card-title {
       margin-left: 210px;
   }
   .card-text {
       margin-left: 200px;
   }
}
